Checks: '
    -*,
    bugprone-*,
        -bugprone-easily-swappable-parameters,
        -bugprone-implicit-widening-of-multiplication-result,
        -bugprone-misplaced-widening-cast,
        -bugprone-unchecked-optional-access,
    cert-*,
        -cert-err58-cpp,
    clang-analyzer-*,
        -clang-analyzer-optin.performance.Padding,
        -clang-analyzer-optin.mpi.MPI-Checker,
        -clang-analyzer-osx.*,
        -clang-analyzer-optin.osx.*,
    clang-diagnostic-*,
    cppcoreguidelines-*,
        -cppcoreguidelines-avoid-c-arrays,
        -cppcoreguidelines-avoid-magic-numbers,
        -cppcoreguidelines-avoid-non-const-global-variables,
        -cppcoreguidelines-init-variables,
        -cppcoreguidelines-macro-usage,
        -cppcoreguidelines-narrowing-conversions,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -cppcoreguidelines-owning-memory,
        -cppcoreguidelines-pro-*,
    google-build-explicit-make-pair,
    google-build-namespaces,
    google-global-names-in-headers,
    misc-*,
        -misc-include-cleaner,
        -misc-no-recursion,
        -misc-non-private-member-variables-in-classes,
    modernize-*,
        -modernize-avoid-c-arrays,
        -modernize-return-braced-init-list,
        -modernize-use-trailing-return-type,
        -modernize-use-constraints,
        -modernize-use-designated-initializers,
        -modernize-use-std-numbers,
        -modernize-use-ranges,
        -modernize-use-integer-sign-comparison,
        -modernize-use-starts-ends-with,
    mpi-*,
    performance-*,
    portability-*,
    readability-*,
        -readability-convert-member-functions-to-static,
        -readability-else-after-return,
        -readability-function-cognitive-complexity,
        -readability-identifier-length,
        -readability-implicit-bool-conversion,
        -readability-isolate-declaration,
        -readability-magic-numbers,
        -readability-named-parameter,
        -readability-uppercase-literal-suffix,
        -readability-redundant-casting,
        -readability-container-contains,
        -readability-redundant-inline-specifier,
        -readability-redundant-member-init,
        -readability-reference-to-constructed-temporary
    '

CheckOptions:
- key:          bugprone-narrowing-conversions.WarnOnIntegerToFloatingPointNarrowingConversion
  value:        "false"
- key:          misc-definitions-in-headers.HeaderFileExtensions
  value:        "H,"
- key:          modernize-pass-by-value.ValuesOnly
  value:        "true"


# TODO Modernize this after switching to C++20:
# -modernize-use-constraints
# -modernize-use-designated-initializers
# -modernize-use-std-numbers
# -modernize-use-ranges
# -modernize-use-integer-sign-comparison
# -modernize-use-starts-ends-with
# -readability-container-contains

# TODO Consider enabling the following checks:
# -bugprone-unused-local-non-trivial-variable
# -performance-enum-size
# -readability-container-contains
# -readability-redundant-inline-specifier
# -readability-redundant-member-init
# -readability-reference-to-constructed-temporary
