Tiing_SpeedUp_i7.nb
speeduptile.pdf
timeperittile.pdf
Makefile_babbage
Makefile_edison
batchscript_babbage
batchscript_edison
gnufor.F90
simple_io_jlvay.F90
submain_inlined.F90
*.pxr
*.o
*.mod
picsar
python_bin/
fortran_bin/
src/build/
src/picsar.v
src/picsar.F90
src/picsar_modules.F90
src/picsar_subroutines.F90
example_scripts_python/picsarpy.so
Makefile_Forthon_JLV
RESULTS/
em3dsolverPXR.pyc
ion acceleration.000.cgm
ion acceleration.000.cgmlog
ion acceleration.001.cgm
ion acceleration.001.cgmlog
ion acceleration.002.cgm
ion acceleration.002.cgmlog
sim_params.pck