Tiing_SpeedUp_i7.nb
speeduptile.pdf
timeperittile.pdf
Makefile_babbage
Makefile_edison
batchscript_babbage
batchscript_edison
gnufor.F90
simple_io_jlvay.F90
submain_inlined.F90
*.pxr
*.o
src/*.o
src/*/*.o
src/*/*/*.o
src/*/*/*/*.o
*.mod
picsar
python_bin/
fortran_bin/
src/build/
src/picsar.v
src/picsar.F90
src/picsar_modules.F90
src/picsar_subroutines.F90
example_scripts_python/picsarpy.so
Makefile_Forthon_JLV
RESULTS/
example_scripts_python/em3dsolverPXR.pyc
example_scripts_python/ion_acc_stepan.py
example_scripts_python/ion_accelerationHV.py
example_scripts_python/sim_params.pck
example_scripts_python/ion_acc_stepan.py
example_scripts_python/tottime.pdb
example_scripts_python/CWE_SPECTRAL.py
example_scripts_python/HHG_ROM_SPECTRAL.py
example_scripts_python/harmo.py
example_scripts_python/harmo_Kark2.py
example_scripts_python/spectral8_64.py
Acceptance_testing/Fortran_tests/test_Langmuir_wave/conftest.pyc
Acceptance_testing/Fortran_tests/test_homogeneous_plasma/conftest.pyc
Acceptance_testing/Fortran_tests/test_plasma_drift/conftest.pyc
Acceptance_testing/Python_tests/test_Langmuir_wave/*.cgm
Acceptance_testing/Python_tests/test_Langmuir_wave/*.cgmlog
example_scripts_python/*.cgm
example_scripts_python/diags/
postproc_python_script/*.pyc
Acceptance_testing/Fortran_tests/*/__pycache__/
Acceptance_testing/Fortran_tests/*/.cache
Acceptance_testing/Fortran_tests/*/.DS_Store
python_libs/*.pyc
python_libs/em3dsolverPXR.py.old
utils/depose_jxjyjz_esirkepov_1_1.F90
utils/depose_jxjyjz_esirkepov_2_2.F90
utils/depose_jxjyjz_esirkepov_3_3.F90
utils/gathering_routines_3_3_3.F90
modules.d
.cache
.DS_Store
Acceptance_testing/Fortran_tests/test_Langmuir_wave/fort.41
Doxygen/*.tmp
Acceptance_testing/Fortran_tests/test_*/conftest.pyc
postproc_python_script/__pycache__/*.pyc
Acceptance_testing/Gcov_tests/*_test

